---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from "../../ui/Section.astro"
import Row from "../../ui/Row.astro"
import Col from "../../ui/Col.astro"
// - UI
import FeatureCard from "../../ui/cards/FeatureCard.astro"

// Content
// - Cards
import feature01 from "../../../assets/cards/feature-01.svg"
import feature02 from "../../../assets/cards/feature-02.svg"
import feature03 from "../../../assets/cards/feature-03.svg"
import feature04 from "../../../assets/cards/feature-04.svg"
import feature05 from "../../../assets/cards/feature-05.svg"
---

<Section id='features'>
  <Row>
    <Col span='12' align='center' classes='mb-12 max-w-4xl mx-auto space-y-6'>
      <h2 class='text-pretty font-decimal text-4xl'>
        Serving Southeastern Michigan and <strong class='text-primary'
          >beyond</strong
        >
      </h2>
      <p class='pb-0 text-lg text-muted-foreground'>
        From Northville and Manchester to Ann Arbor, Plymouth, Canton, Novi, and
        beyond, whether you're building your first website or need a custom
        solution, we work with any budget and any size project.
      </p>
    </Col>
  </Row>
  <Row>
    <Col span='4'>
      <FeatureCard
        title='Modern website & app creation'
        subtitle='From simple static sites to complex e-commerce and mobile applications, we build websites that look great and work even better.'
        image={feature01}
        link='/services'
      />
    </Col>
    <Col span='4' classes='flex flex-col gap-6'>
      <FeatureCard
        title='Your local partners'
        subtitle='We are a local business, and we are committed to supporting other local businesses. We are dedicated to helping you succeed.'
        image={feature02}
        link='/services'
      />
      <FeatureCard
        title='Unmatched customer service'
        subtitle='Call, text, or email us anytime, we are here to help you. When you reach out, you get one of us, Kevin or Tony, not a robot.'
        image={feature03}
        link='/services'
      />
    </Col>
    <Col span='4' classes='flex flex-col gap-6'>
      <FeatureCard
        title='Collaborative, educational, and clear communicators'
        subtitle='We work closely with you to understand your needs and goals, and we communicate clearly and effectively every step of the way.'
        image={feature04}
        link='/services'
      />
      <FeatureCard
        title='We are experts in our field'
        subtitle='With a combined 35+ years of experience in the industry, we bring a wealth of knowledge and expertise to every project.'
        image={feature05}
        link='/services'
      />
    </Col>
  </Row>
</Section>
