---
// Pricing table
// ------------
// Description: The pricing table component allows users to get an overview of what pricing plans are offered and how they differ, on a product or service.
// Properties:
// - Title: the title of the pricing plan
// - Subtitle: the subtitle of the pricing plan
// - Currency: the currency of the pricing plan
// - Price: the anual (default)price of the pricing plan
// - PriceLabel: the label of the anual price
// - PriceMontly: the monthly price of the pricing plan
// - PriceLabelMontly: the monthly label
// - ButtonName: the name of the button
// - ButtonLink: the link of the button
// - Type: the type of the pricing plan (basic, featured)
// - classes: additional classes
// Reference: https://wind-ui.com/components/pricing/

// Components
// - UI
import Button from "../button.astro"
import List from "../List.astro"
// -- Partials
import Header from "./partials/Header.astro"
import Body from "./partials/Body.astro"
import Footer from "./partials/Footer.astro"

// Props
type PricingTableProps = {
  type: "basic" | "featured"
  header: {
    title: string
    subtitle: string
    currency: string
    price: string
    priceLabel: string
  }
  body?: {
    listItems: Array<{ listItem: string; included: boolean }>
  }
  footer?: {
    buttonName: string
    buttonLink: string
  }
}
type Props = {
  data: PricingTableProps
  id?: string
  listType?: "basic" | "checklist"
  classes?: string
}
const { data, id, listType } = Astro.props
const { type, header, body, footer } = data
---

<div
  id={id}
  class:list={[
    "mx-auto max-w-sm overflow-hidden rounded border border-zinc-100 shadow-xl shadow-zinc-700/5 dark:border-zinc-800 dark:bg-zinc-900 dark:text-zinc-300 dark:shadow-zinc-950/50",
    {
      "!border-primary": type === "featured",
    },
  ]}
>
  <div class='pricing__container flex flex-col'>
    <Header type={type}>
      <h3 class='font-gotham uppercase text-xl text-foreground'>
        {header.title}
      </h3>
      <p class='text-muted-foreground block text-sm'>{header.subtitle}</p>
      <div class='pricing__header-info overflow-hidden'>
        <h4
          class:list={[
            "flex justify-center items-end text-5xl font-bold text-foreground lg:text-6xl mb-0 h-16 transition-all duration-300 mb-4",
          ]}
        >
          <span>
            <span class='tracking-tighter'
              ><span class='text-3xl mr-1'>{header.currency}</span>{
                header.price
              }</span
            >
          </span>
        </h4>
        <div class='text-sm text-center text-muted-foreground'>
          {header.priceLabel}
        </div>
      </div>
    </Header>

    {
      body && (
        <Body>
          <List
            type={listType}
            listItems={body.listItems}
            classes='space-y-4'
          />
        </Body>
      )
    }
    {
      footer && (
        <Footer type={type}>
          <Button
            size='lg'
            variant='default'
            type='link'
            link={footer.buttonLink}
            classes={
              "!font-medium " + (type === "featured" ? "!text-white" : "")
            }
          >
            {footer.buttonName}
          </Button>
        </Footer>
      )
    }
  </div>
</div>
