---
// Components
// - Layout
import Layout from "../layouts/Layout.astro"
// - UI
import { Image } from "astro:assets"
import SidebarContent from "../components/blocks/basic/StickySidebar.astro"
import Hero from "../components/blocks/hero/PageHeader.astro"
import kevinImage from "../assets/avatars/kevin-egg-chair-cropped.jpg"
import tonyImage from "../assets/avatars/tony-egg-chair-cropped.jpg"
import Button from "../components/ui/button.astro"
// Content
// - SEO
const SEO = {
  title: "About Us | Marevo Labs",
  description:
    "At Marevo Labs, we are a small team of passionate developers and designers who are dedicated to creating exceptional web and mobile applications. We are committed to providing innovative solutions that drive growth, efficiency, and success.",
}
// - Page Header
const header = {
  title:
    "Passionate Developers & Designers Dedicated to <strong class='text-primary'>Excellence</strong>",
  text: "At Marevo Labs, we are a small team of passionate developers and designers who are dedicated to creating exceptional web and mobile applications. We are committed to providing innovative solutions that drive growth, efficiency, and success.",
}
---

<Layout title={SEO.title} description={SEO.description}>
  <Hero title={header.title} text={header.text} />
  <SidebarContent>
    <div slot='sidebar'>
      <div class='space-y-4'>
        <h3 class='text-2xl font-gotham uppercase'>About Us</h3>
        <p class='text-lg leading-relaxed text-muted-foreground'>
          After working together at 5 different jobs, we decided to start our
          own business helping our communities.
        </p>
      </div>
    </div>
    <div class='space-y-6'>
      <h4 class='text-xl font-gotham uppercase'>Our Story</h4>
      <p class='text-lg leading-relaxed text-muted-foreground'>
        Hi, we're Kevin and Tony, two software engineers from the Metro Detroit
        area. Our story starts in the early 2010s when we met while working at
        UnitedHealth Group in Southfield, MI. Tony interviewed and hired Kevin,
        but for a role on another team. By luck, we happened to sit close to
        each other and started talking. We quickly became friends and bonded
        over our shared passion for technology and our desire to help others.
      </p>
      <p class='text-lg leading-relaxed text-muted-foreground'>
        After a few years, we both left UnitedHealth Group along with a group of
        our fellow colleagues to start at a different health insurance company,
        this time based out of Detroit. There we sat next to each other again,
        and started a coffee club where we all took turns buying nice coffee
        beans for the group and brewing it for everyone.
      </p>
      <p class='text-lg leading-relaxed text-muted-foreground'>
        Not long after, we both left to join a new startup based out of Detroit
        and Chicago, along with one other friend. That was our first experience
        in the startup world, and we quickly learned that we loved it. We then
        landed a package deal with a NYC-based startup that needed two
        engineers, which would be our fifth job together!
      </p>
      <p class='text-lg leading-relaxed text-muted-foreground'>
        Since then, we've gone on to work at a few more startups, albeit
        separately, all the while continuing to work together on a few projects
        here and there. Now, we are excited to formally work together again and
        start our own business helping our communities. Based out of our
        hometowns of Northville and Manchester, we're proud to serve businesses
        across Ann Arbor, Plymouth, Canton, Novi, Saline, Dexter, Chelsea, and
        the greater Southeastern Michigan area.
      </p>
      <p>
        <Button size='lg' type='link' href='/mission'>Read our mission</Button>
      </p>
    </div>
  </SidebarContent>
  <SidebarContent classes='bg-zinc-50 dark:bg-zinc-900'>
    <div slot='sidebar'>
      <div class='space-y-4'>
        <h3 class='text-2xl font-gotham uppercase'>About Kevin S.</h3>
        <Image
          src={kevinImage}
          alt='Kevin S.'
          width={100}
          height={100}
          densities={[1, 2, 3]}
          quality={95}
          class='rounded-full'
        />
        <p class='text-lg leading-relaxed text-muted-foreground'></p>
      </div>
    </div>
    <div class='space-y-6'>
      <p class='text-lg leading-relaxed text-muted-foreground'>
        Kevin is a software engineer and lifelong learner who studied computer
        science at Michigan State University. While he spends much of his time
        working on the front end, he has experience across the full stack and
        enjoys solving problems wherever they appear in the product.
      </p>
      <p class='text-lg leading-relaxed text-muted-foreground'>
        He enjoys using technology to support organizations and ideas that have
        a positive impact. For example, a recent project is <a
          href='https://www.communityovercars.com/'
          class='text-primary underline'>Community Over Cars</a
        >.
      </p>
      <p class='text-lg leading-relaxed text-muted-foreground'>
        Kevin married his high school sweetheart, and together they've settled
        in Northville where they are raising their two kids. When he's not
        writing code, Kevin is usually learning something new—whether that's
        exploring new technologies, diving into ideas, or simply staying curious
        about how things work.
      </p>
    </div>
  </SidebarContent>
  <SidebarContent>
    <div slot='sidebar'>
      <div class='space-y-4'>
        <h3 class='text-2xl font-gotham uppercase'>About Tony M.</h3>
        <Image
          src={tonyImage}
          alt='Tony M.'
          width={100}
          height={100}
          densities={[1, 2, 3]}
          quality={95}
          class='rounded-full'
        />
      </div>
    </div>
    <div class='space-y-6'>
      <!-- <h4 class='text-xl font-gotham uppercase'>General Limitations</h4> -->
      <p class='text-lg leading-relaxed text-muted-foreground'>
        Tony is a senior software engineer, designer, and outdoors enthusiast. A
        self-taught developer, he started out freelancing and eventually landed
        at a Fortune 10 company. After realizing the corporate life wasn't for
        him, he has since worked at several startups, working remotely, where he
        really found his ideal work-life balance. He enjoys the flexibility of
        being able to work from anywhere, which enabled him to spend a year on
        the road in a Sprinter van with his wife and dog, exploring all over
        North America. He has since settled down in Michigan, but is always
        dreaming up new travel locations, and occasionally traveling out of a
        cargo trailer he converted into a camper.
      </p>
      <p class='text-lg leading-relaxed text-muted-foreground'>
        He also employs technology for good whenever possible, such as his side
        project helping people recreate safely in the outdoors with his app <a
          href='https://getpackup.com/'
          class='text-primary underline'>Packup</a
        >.
      </p>
      <p class='text-lg leading-relaxed text-muted-foreground'>
        Tony now lives in Manchester with his wife, two kids, and two dogs. He
        lives next to several family members on 50 acres of land and is enjoying
        the peace and quiet of country living, growing a garden and raising
        chickens.
      </p>
    </div>
  </SidebarContent>
</Layout>
